  body{background-color: rgb(233, 23, 23);
    color: rgb(0, 0, 0); 
    font-size: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    justify-content: center;
    justify-items: center;
    text-align: center;
    text-align: center;
}

.imagem-cabecario{
    width: 450px;
} 
.titulocabecario{

    display: inline-block;
    margin: 0 16px;
    padding: 100px 0;
    font-size: 40px;}


.cabecario{background-color: rgb(197, 23, 23);
color: rgb(255, 255, 255);
display: flex;
justify-content: space-around;
padding: 24px 0;}
.cabecario-item{
    display: inline-block;
    margin: 0 16px;
    padding: 24px 0;
    font-size: 24px;}

    .escola
{background-image: linear-gradient(rgb(143, 8, 8),rgb(255, 0, 0));
color: rgb(0, 0, 0);
display: flex;
align-items: center;
padding: 24px,0}
.escola-conteudo
{width: 3000%;}
 .aluno-um{
    width: 30%;
    height: 220px;

 }
.estudante-titulo{
    text-align: center;
    padding: 50px;
    font-size: 30px;
}
.estudante-div{
    text-align: center;
}
 
.estudante-todos{

    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}
.footer{
 background-color: black;
 color: beige;
}
.rodape{
 text-align: center;
 font-size: 40px;

}
.lista-rodape{
 display: block;
 text-align: center;
 font-size: 20px;
}
.estudante-icone{
    width: 20%;
}

  
  
  
                                                   
  
  
  
  
  
 
  



































































