body{background-color: gold;
    color: navy; 
    font-size: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    justify-content: center;
    justify-items: center;
    text-align: center;
    text-align: center;
}.imagem-cabecario{width: 5px;;}

